body { 
  font-family: Arial, sans-serif; 
  margin: 0; 
  padding: 0;
  background-color: #f4f4f4; 
  height:100%;
}
nav {
  position: relative;
  background-color:#333e50;
  padding: 5px 20px 5px 80px; /* Add left padding to make space for logo */
  height: 10vh;               /* Use viewport height for consistency */
  display: flex;
  align-items: center;   /* Vertical centering */
  justify-content: center; /* Optional: Horizontal centering */
}
nav a{
  text-decoration: none;
  padding:10px;
}
nav a:hover{
  text-decoration: underline;
  font-size: large;
}
#logo {
  height: 100%;           /* Fill the full height of the nav */
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;

}
h1,h2 { color: #333e50; }
p {font-size: 1.1em; color: #333; }
.container {
  display: flex;
  height: 90vh;
}

.content {
  width: 35%;
  padding: 20px;
  background-color: #f0f0f0;
  box-sizing: border-box;
}

.dashboard {
  width: 65%;
  padding: 20px;
  background-color: #ffffff;
  box-sizing: border-box;
  text-align: center;
}

.header1{
font-style: italic;
font-weight: bold;
}
.header2{
font-weight: bold;
}

#disclaimer{
  padding:5px;
  position: absolute;
  bottom: 0;
  width:100%;
  font-size: small;
  background-color: rgb(214, 147, 147);

}
